{% extends "layout.html" %}
{% load static %}

{% block search %}
    <div>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
              method="get">
            <div class="input-group">
                <!-- 输入框 -->
                <input autocomplete=off type="text" name="Search_doctor" class="form-control bg-light border-0 small"
                       placeholder="请输入医生的姓名" aria-label="Search" aria-describedby="basic-addon2" value="{{ search_data }}">
                <!-- 按钮 -->
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
{#          <!-- 表头 -->#}
{#          <div class="panel-heading">#}
{#              <h2 class="text-center text-light">医生总览</h2>#}
{#          </div>#}
          <!-- 表格 -->
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>所属部门</th>
                  <th>等级</th>
                  <th>工资</th>
                  <th>出诊时间</th>
                  <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
              <tr>
                  <td>{{ obj.name }}</td>
                  <td>{{ obj.get_gender_display }}</td>
                  <td>{{ obj.depart.name }}</td>
                  <td>{{ obj.get_level_display }}</td>
{#                  模板语法不允许加括号，会自动帮忙加括号的#}
                  <td>{{ obj.salary }}</td>
                  <td>{{ obj.day }}</td>
                <td>
{#                    两种传递ID的方法#}
                    <a class="btn btn-primary btn-xs" href="/doctor/{{ obj.id }}/edit/">编辑</a>
                    <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </nav>
    </div>

                {#    删除对话框#}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">是否确定删除？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    删除后，所有关联的相对数据都会被删除。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button id="btnConfirmDelete" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block js %}
    <script type="text/javascript">
        var DELETE_ID;
        $(function () {
            bindBtnDeleteEvent();
            bindBtnConfirmDelete();
        })

        function bindBtnDeleteEvent() {
            $(".btn-delete").click(function () {
                $("#deleteModal").modal('show');
                //获取当前行的ID并赋值给全局变量
                DELETE_ID = $(this).attr("uid");
            });
        }

        function bindBtnConfirmDelete() {
            $("#btnConfirmDelete").click(function () {
                $.ajax({
                    url: "/doctor/delete/",
                    type: "GET",
                    data: {
                        uid: DELETE_ID,
                    },
                    dataType: "JSON",
                    success: function (res) {
                        $('#deleteModal').modal('hide');
                        location.reload();
                    }
                })
            });
        }


    </script>

{% endblock %}