{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>管理员面板</title>
    <link href="{% static 'model/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
{#    <link href="{% static 'style.css' %}" rel="stylesheet">#}
        <!-- 主模板-->
    <link href="{% static 'model/css/sb-admin-2.min.css' %}" rel="stylesheet">
    {#    bootstrap#}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body id="page-top">

    <!-- 主页面 -->
    <div id="wrapper">

        <!-- 侧边框 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- 侧边框的版头 -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <!-- 管理员名称 -->
                <div class="sidebar-brand-text mx-3">管理员</div>
            </a>

            <!-- 分隔符 -->
            <hr class="sidebar-divider my-0">

            <!-- 数据面板导航栏 -->
            <li class="nav-item active">
                <a class="nav-link" href="/manage/index/">
                    <!-- 图标 -->
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>控制面板</span></a>
            </li>

            <!-- 分隔符 -->
            <hr class="sidebar-divider">

            <!-- 头部 -->
            <div class="sidebar-heading">
                管理页面
            </div>

            <!-- 医生管理页面 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>医生管理</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">编辑事项:</h6>


                        <!-- 修改对应的html -->
                        <a class="collapse-item" href="/doctor/list/">医生总览</a>
                        <a class="collapse-item" href="/doctor/add/">新增医生信息</a>
                        <a class="collapse-item" href="/doctor/addmore/">批量上传医生信息</a>
                    </div>
                </div>
            </li>

            <!-- 科室管理页面 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>科室管理</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">编辑事项:</h6>


                        <!-- 修改对应的html -->
                        <a class="collapse-item" href="/depart/list/">科室总览</a>
                        <a class="collapse-item" href="/depart/add/">新增科室信息</a>

                    </div>
                </div>
            </li>

            <!-- 药物管理 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>药物管理</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">编辑事项:</h6>
                        <a class="collapse-item" href="utilities-color.html">药物总览</a>
                        <a class="collapse-item" href="utilities-border.html">新增药物</a>
                    </div>
                </div>
            </li>

            <!-- 分隔符 -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                数据分析
            </div>

            <!-- 数据分析菜单 -->

            <!-- 患者信息统计 -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>患者信息</span></a>
            </li>

            <!-- 药品信息统计 -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>药品信息</span></a>
            </li>

            <!-- 医生信息统计 -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>医生信息</span></a>
            </li>

            <!-- 分隔符 -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- 向左收缩菜单键 -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- 侧边框部分结束 -->

        <!-- 主干 -->
        <div id="content-wrapper" class="d-flex flex-column">


            <div id="content">

                <!-- 顶栏 -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- 侧边栏状态切换 -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- 搜索栏 -->
                    {% block search %}{% endblock %}
{#                    <form#}
{#                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">#}
{#                        <div class="input-group">#}
{#                            <!-- 输入框 -->#}
{#                            <input type="text" class="form-control bg-light border-0 small" placeholder="查询信息1"#}
{#                                aria-label="Search" aria-describedby="basic-addon2">#}
{#                            <!-- 按钮 -->#}
{#                            <div class="input-group-append">#}
{#                                <button class="btn btn-primary" type="button">#}
{#                                    <i class="fas fa-search fa-sm"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}

                    <!-- 顶栏 -->
                    <ul class="navbar-nav ml-auto">

                        <!-- 暂时不知道有什么意义的栏 -->

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="查询信息2" aria-label="Search"
                                            aria-describedby="basic-addon2">
                                            <!-- 按钮 -->
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- 用户信息 -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.session.info.name }}</span>
                                <img src="{% static 'img/管理员头像.svg' %}" class="img-profile rounded-circle">
{#                                <img class="img-profile rounded-circle" src="">#}
                            </a>
                            <!-- 下拉框信息 -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" data-toggle="modal" data-target="#editModal">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    修改密码
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    注销
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- 结束顶栏 -->

                <!-- 核心页面 -->
                <div class="container-fluid">

                {% block content %}{% endblock %}

                </div>

            </div>
            <!-- 主干结束 -->

            <!-- 底栏显示 -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; xiqin 2022</span>
                    </div>
                </div>
            </footer>
            <!-- 结束底栏 -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- 结束 -->

    <!-- 滑动到顶端的按钮 -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


{#    退出登录#}
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">是否确定退出登录？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>请确定你的操作是否已完成，退出后将不再保存未保存的信息。</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
              <a class="btn btn-primary" href="/manage/logout/">确定</a>
          </div>
        </div>
      </div>
    </div>

{#    修改密码#}
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">密码修改</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form id="edit">
                  <div class="clearfix">
                      <input name='uid' type="hidden" value="{{ request.session.info.id }}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                      <input name='pwd' type="text" class="form-control" placeholder="新的密码" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            <button id="btnSave" type="button" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </div>
    </div>




    <script src="{% static 'model/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'model/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'model/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <script src="{% static 'model/js/sb-admin-2.min.js' %}"></script>

    <script src="{% static 'model/vendor/chart.js/Chart.min.js' %}"></script>

    <script src="{% static 'model/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'model/js/demo/chart-pie-demo.js' %}"></script>

    {% block js %}{% endblock %}

    {#    js代码#}
    <script type="text/javascript">
        $(function(){
            bindBtnSave();
        })

        function bindBtnSave(){
            $("#btnSave").click(function(){
                $.ajax({
                    url:"/manage/edit/",
                    type:"post",
                    data: $("#edit").serialize(),
                    dataType:"JSON",
                    success:function(res){
                        {#清空表单,$("#formAdd")是一个jQuery对象，$("#formAdd")[0]则是一个DOM对象#}
                        $("#edit")[0].reset();
                        {#关闭对话框#}
                        $('#editModal').modal('hide');
                        location.reload();
                    }
                })
            });
        }
    </script>
</body>

</html>