{% extends "layout.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="alert alert-primary" role="alert">
              批量上传药物信息
            </div>
            <p class="lead text-center text-black-50 mb-5">
                请上传Excel文件，并按照指定顺序填写Excel文件中的信息。
            </p>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" action="/medicine/excel/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="exc">
                    </div>
                    <input type="submit" value="上传" class="brn btn-primary">
                </form>
            </div>
        </div>

        <hr>

        <div class="panel panel-default">
          <div class="alert alert-primary" role="alert">
              新建药物
            </div>
          <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}

                {% for field in form %}

                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        <span style="color: #ff0000;">{{ field.errors.0 }}</span>
                      </div>
                {% endfor %}
              <button type="submit" class="btn btn-primary">提 交</button>
            </form>
          </div>
        </div>
    </div>
{% endblock %}